.container {
  height: var(--body-height);
  background-color: rgb(243, 246, 249);
}

.tabControl {
  text-align: left;
  align-items: flex-start;
}


.cardContainer {
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 768px;
}

.tabs {
  background-color: var(--bg-color);
  height: var(--body-height);
}