:root {
  --bg-color: #fff;
  --text-color: #000;
  --bg-light: #f3f6f9;

  --header-height: 65px;
  --body-height: calc(100vh - 65px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #fff;
    --bg-light: #f3f6f9;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-light);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
