.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.text {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 4px;
}

.image {
  display: flex;
  align-items: center;
}